<%= link_to kit_path(kit) do %>
  <div class="card">
    <%= image_tag kit.photos.first, alt: kit.name, class: 'card-img-top card__photo-darken' %>
    <div class="card-img-overlay d-flex">
      <h2 class="card-title pt-5 text-white" ><%= kit.name %></h2>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-text"><%= kit.restaurant_name %></h5>
        <h6 class="card-text text-dark"><%= kit.restaurant_delivery_options %></h6>
      </div>
      <h2 class="card-title align-self-center">£<%= number_with_precision(kit.price, precision: 2, strip_insignificant_zeros: true) %></h2>
    </div>
  </div>
<% end %>
