<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <h1 class="mb-0">COOKIT</h1>
  </div>
  <button class="navbar-toggler" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "#", class: "nav-link text-white mr-3" do  %>
          <h5>What's New</h5>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link text-white mr-3" do  %>
          <h5>Popular</h5>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link text-white mr-3" do  %>
            <h5>Favourites</h5>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: "delete", class: "nav-link text-white mr-3" do  %>
            <h5>Log Out</h5>
          <% end %>
        </li>
        <li class="nav-item nav-avatar">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link text-white mr-3" do  %>
            <h5>Log In</h5>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
