<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 class="ml-3 mb-0 text-white">COOKIT</h1>
    <% end %>
  </div>
  <%= link_to root_path, class: "navbar--logo-hide" do %>
    <%= image_tag "logo.png", class: "navbar--logo" %>
  <% end %>
  <button class="navbar-toggler" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "#", class: "nav-link text-white mr-3" do  %>
          <span>What's New</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link text-white mr-3" do  %>
          <span>Popular</span>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link text-white mr-3" do  %>
            <span>Favourites</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: "delete", class: "nav-link text-white mr-3" do  %>
            <span>Log Out</span>
          <% end %>
        </li>
        <li class="nav-item nav-avatar">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link text-white mr-3" do  %>
            <span>Log In</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
