<%= link_to restaurant_path(restaurant) do %>
  <div class="card">
    <img class="card-img-top" src=<%= url_for(restaurant.photos.first) %> alt=<%= restaurant.name %> >
    <div class="card-body">
      <h3 class="card-title"><%= restaurant.name %></h3>
      <h4 class="card-title"><%= pluralize(restaurant.kits.count, "kit") %> available</h4>
      <h5 class="card-title text-primary"><%= restaurant.delivery_options %></h5>
      <% restaurant.tags.each do |tag| %>
        <span class="badge badge-pill px-3 py-2" style="border: 1px solid rgba(154, 87, 111, 1); background-color: transparent;"><%= tag.name %></span>
      <% end %>
    </div>
  </div>
<% end %>
